.list__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    list-style: none;
    padding: 3rem;
    gap: 3rem;
    place-items: start;
    width: 100%;
    box-sizing: border-box;
  }
